<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>efvsvsv</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>descripcion</description>
		<display-name>Prueba2ej1</display-name>
		<servlet-name>Prueba2ej1</servlet-name>
		<servlet-class>controller.Inicio</servlet-class>
	</servlet>

	<servlet-mapping>

		<servlet-name>Prueba2ej1</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


</web-app>